<!doctype html>
<html lang="ja">
{% assign radio_data = site.data.radios | where:"id", page.radio %}
{% assign radio = radio_data | first %}  
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<title>{{ radio.name }}</title>
 </head>
  <body>
    <div class="content">
      <div>
      <a href="javascript:history.back();">ラジオを切って戻る</a>
      </div>
      <div>
      <a href="{{ radio.website }}">{{ radio.name }}</a>
      </div>
<!-- BEGINS: -->
<div class="media"> 
    <object id="mediaplayer" classid="clsid:22d6f312-b0f6-11d0-94ab-0080c74c7e95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#version=5,1,52,701" standby="loading microsoft windows media player components..." type="application/x-oleobject" width="320" height="310">
     <param name="filename" value="mms://hdv.nkansai.tv/radiocity">
     <param name="animationatstart" value="true">
     <param name="transparentatstart" value="true">
     <param name="autostart" value="true">
     <param name="showcontrols" value="true">
     <param name="ShowStatusBar" value="true">
     <param name="windowlessvideo" value="true">
     <embed type="application/x-mplayer2" src="mms://hdv.nkansai.tv/radiocity" autostart="true" showcontrols="true" showstatusbar="1" bgcolor="white" width="320" height="310">
</object> 
    <div>My Audio File</div> 
</div> 
<!-- ENDS: -->
    </div>
    <footer>
    	<time datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate"></time>
    </footer>
  </body>
</html>
